body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.hide {
  display: none !important;
}

#img-nav-hamburger, .list-nav-links > li, #btn-sign-in, #btn-sign-up, #btn-free-trial, #btn-examples, .btn-cta, .list-item-testimonial > button, .list-sublist-links > li {
  cursor: pointer;
}

/* Header */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 2rem 0 2rem;
  position: relative;
  background-color: hsl(37, 64%, 92%);
}

#img-nav-hamburger {
  width: 24px;
  height: 20px;
}

.div-nav-lists {
  width: calc(100% - 4rem);
  padding: 1rem;
  position: absolute;
  top: 3.5rem;
  right: 2rem;
  z-index: 2;
  text-align: center;
  background-color: hsl(0, 0%, 100%);
  border-radius: 6px;
}

.list-nav-links {
  margin-bottom: 1rem;
}

.list-nav-links > li:hover {
  text-decoration: underline;
}

.list-nav-links > li, .list-cta > li {
  margin-bottom: .25rem;
}

#btn-sign-in {
  display: block;
  width: 100%;
  padding: .5rem;
  border-radius: 6px;
  border: 1px solid black;
  margin-bottom: .5rem;
}

#btn-sign-in:hover {
  background-color: hsl(258, 83%, 45%);
  border-color: hsl(258, 83%, 45%);
  color: hsl(0, 0%, 100%);
}

#btn-sign-up {
  display: block;
  width: 100%;
  padding: .5rem;
  border: 1px solid hsl(258, 83%, 45%);
  border-radius: 6px;
  background-color: hsl(258, 83%, 45%);
  color: hsl(0, 0%, 100%);
}

#btn-sign-up:hover {
  background-color: hsl(258, 69%, 68%);
  border-color: hsl(258, 69%, 68%);
}

/* Main */
.div-hero {
  padding: 0 2rem 2rem 2rem;
}

.div-hero {
  background-color: hsl(37, 64%, 92%);
}

.span-rating {
  display: flex;
  align-items: center;
}

.img-rating {
  display: block;
  width: 18px;
  height: 18px;
}

.img-rating:last-of-type {
  margin-right: 1rem;
}

#img-hero {
  display: block;
  margin: -2rem 0 2rem 0;
}

.div-hero > div > h2 {
  width: 75%;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.div-hero > div > div {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

#btn-free-trial {
  display: block;
  width: 100%;
  padding: 1rem;
  background-color: hsl(258, 83%, 45%);
  color: hsl(0, 0%, 100%);
  border-radius: 6px;
  margin-bottom: 1rem;
}

#btn-free-trial:hover {
  color: hsl(0, 0%, 100%);
  background-color: hsl(258, 69%, 68%);
}

#btn-examples {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  color: hsl(258, 83%, 45%);
  font-weight: 700;
  text-decoration: underline;
}

#btn-examples:hover {
  color: hsl(258, 69%, 68%);
}

.div-feature {
  display: flex;
  align-items: center;
}

.img-checkmark {
  width: 24px;
  height: 24px;
  margin-right: .5rem;
}

.div-why-fiber {
  padding: 2rem;
  background-color: hsl(0, 0%, 100%);
}

.div-why-fiber > h4 {
  color: hsl(258, 83%, 45%);
  margin-bottom: 1rem;
  font-weight: 500;
}

.div-why-fiber > h3 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.list-item-feature {
  margin-bottom: 2rem;
}

#img-stop-watch, #img-code, #img-responsiveness {
  width: 40px;
  height: 40px;
  display: block;
  margin-bottom: 1rem;
}

.list-features {
  margin-bottom: 4rem;
}

.list-item-feature > h5 {
  font-weight: 500;
  margin-bottom: 1rem;
}

.div-diversify {
  padding: 2rem;
  margin-bottom: 4rem;
  border-radius: 6px;
  background-color: hsl(258, 83%, 45%);
  color: hsl(0, 0%, 100%);
}

.div-diversify > h3 {
  font-size: 2.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.div-diversify > div:first-of-type {
  width: 80%;
  margin-bottom: 1rem;
}

.btn-cta {
  display: block;
  width: 100%;
  padding: 1rem;
  margin-bottom: 2rem;
  background-color: hsl(0, 0%, 100%);
  color: hsl(258, 83%, 45%);
  border-radius: 6px;
}

.btn-cta:hover {
  color: hsl(0, 0%, 100%);
  background-color: hsl(258, 69%, 68%);
}

.div-img-wrapper {
  width: 288px;
  height: 350px;
  position: relative;
  overflow: hidden;
  margin-bottom: -2rem;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

#img-diversify-example {
  display: block;
  width: 175%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.list-item-testimonial {
  padding: 1.25rem;
  margin-bottom: 2rem;
  border: 1px solid hsl(0, 0%, 0%);
  border-radius: 6px;
}

.user-information {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.img-user {
  display: block;
  width: 48px;
  height: 48px;
  margin-right: 1rem;
}

.user-information > div > h4 {
  font-weight: 700;
  color: hsl(258, 83%, 45%);
}

.list-item-testimonial > div:nth-of-type(2n) {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.list-item-testimonial > button {
  display: block;
  width: 100%;
  padding: 1rem;
  color: hsl(258, 83%, 45%);
  font-weight: 700;
  font-size: 1.2rem;
  border: 1px solid black;
  border-radius: 6px;
}

.list-item-testimonial > button:hover {
  color: hsl(0, 0%, 100%);
  background-color: hsl(258, 83%, 45%);
  border-color: hsl(258, 83%, 45%);
}

/* Footer */
footer {
  padding: 4rem 2rem;
  background-color: hsl(37, 64%, 92%);
}

footer > div {
  margin-bottom: 2rem;
}

footer > div > h2 {
  font-weight: 700;
  margin-bottom: 1rem;
}

footer > div > div {
  width: 85%;
  margin-bottom: 1rem;
}

.list-item-sublist {
  margin-bottom: 2rem;
}

.list-item-sublist > h4 {
  font-weight: 700;
  margin-bottom: 1rem;
}

.list-sublist-links > li {
  margin-bottom: .5rem;
}

.list-sublist-links > li:hover {
  text-decoration: underline;
}

footer > div:last-of-type, .list-item-sublist:last-of-type, .list-sublist-links > li:last-of-type {
  margin-bottom: 0;
}